.not-found-container {
  text-align: center;
  background-color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.not-found-image {
  height: 300px;
  width: 300px;
}
@media screen and (max-width: 767px) {
  .not-found-image {
    height: 300px;
    width: 300px;
  }
  .not-found-container {
    padding: 20px;
  }
  .not-found-heading {
    font-size: 20px;
  }
}
