.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-content-container {
  flex-grow: 1;
  color: #ffffff;
  padding: 40px;
}
@media screen and (max-width: 767px) {
  .home-content-container {
    padding: 20px;
  }
}
.home-content {
  width: 55vw;
}
@media screen and (max-width: 767px) {
  .home-content {
    width: 100%;
  }
}

.home-title {
  font-size: 80px;
}
@media screen and (max-width: 767px) {
  .home-title {
    font-size: 40px;
  }
}
.home-description {
  color: #f1f5f9;
  font-size: 25px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .home-description {
    font-size: 20px;
    font-weight: 400;
  }
}

.find-jobs-btn {
  color: #ffffff;
  padding: 10px;
  width: 100px;
  background-color: #6366f1;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
