.login-bg-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
}
.login-card-container {
  margin-bottom: 40px;
  background-color: #272727;
  border-radius: 10px;
  height: 57%;
  width: 30%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .login-card-container {
    height: auto;
    width: auto;
  }
}
.login-page-website-logo {
  height: 60px;
  width: 200px;
  color: #ffffff;
  align-self: center;
  margin: 30px;
  margin-top: 10px;
}
.login-label {
  font-weight: 500;
  font-size: 14px;
  margin: 5px;
}
.login-page-input {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #64748b;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}
.login-btn {
  cursor: pointer;
  background-color: #6366f1;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
}
.login-error-msg {
  color: red;
}
